:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  --background: #3787ff;
  --backgradiant: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  --sec: #4a99e4;
  --main: #111111;
  --border: rgba(82, 82, 82, 0.5);
  --contrast: #111111;
}
::-webkit-scrollbar {
  display: none;
}
* {
  padding: 0;
  margin: 0;
}

body {
  background: var(--backgradiant);
  color: var(--main);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

nav {
  height: 6rem;
  display: flex;
  border-bottom: solid 1px var(--border);
  & > div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 1px var(--border);
    box-sizing: border-box;
  }
  & > #logo-container,
  & > #social-container {
    width: calc(100% / 3);
  }
  & > #contact-container,
  & > #theme-container {
    width: calc(100% / 3 / 2);
  }
  & > #logo-container {
    justify-content: flex-start;
    border: 0;
    & > a {
      display: none;
    }
    & > h1 {
      font-family: "sacramento", cursive;
      font-size: 230%;
      padding-left: 2rem;
      color: var(--contrast);
      font-weight: 200;
    }
  }
  & > #social-container {
    gap: 4rem;
    & > a {
      color: var(--main);
      transition: ease-out 0.3s;
      &:hover {
        transform: scale(110%);
      }
    }
    & > #linkedlin:hover {
      color: #137ae0;
    }
    & > #github:hover {
      color: #b739d6;
    }
    & > #instagram:hover {
      color: #f74954;
    }
    & > #discord:hover {
      color: #5165f6;
    }
  }
  & > #contact-container {
    & > a {
      color: var(--contrast);
      font-size: 105%;
      text-decoration: 0;
      font-weight: 400;
    }
  }
  & > #theme-container {
    gap: 2rem;
    & > input {
      appearance: none;
      height: 1.5rem;
      width: 1.5rem;
      outline: 2px solid var(--radio-color);
      border-radius: 50%;
      outline-offset: 3px;
      cursor: pointer;
    }
    & > #default {
      transition: ease-out 0.15s;
      --radio-color: #005c91;
      &:checked,
      &:hover {
        background-color: var(--radio-color);
      }
    }
    & > #light {
      transition: ease-out 0.15s;
      --radio-color: #f7f7f2;
      &:checked,
      &:hover {
        background-color: var(--radio-color);
      }
    }
    & > #green {
      transition: ease-out 0.15s;
      --radio-color: #12723d;
      &:checked,
      &:hover {
        background-color: var(--radio-color);
      }
    }
    & > #midnight {
      transition: ease-out 0.15s;
      --radio-color: #6b0b91;
      &:checked,
      &:hover {
        background-color: var(--radio-color);
      }
    }
  }
}

:root:has(#light:checked) {
  --background: #f7f7f2;
  --backgradiant: linear-gradient(337deg, #faaca8 0%, #ddd6f3 100%);

  --sec: #1f1f1f;
  --main: #000000;
  --border: rgba(41, 41, 41, 0.5);
  --contrast: #000000;
  #light {
    --radio-color: var(--contrast);
  }
}

:root:has(#green:checked) {
  --background: #0c7475;
  --backgradiant: radial-gradient(
    circle farthest-corner at 10% 20%,
    #0eae57 0%,
    #0c7475 90%
  );
  --sec: #0eae57;
  --main: #0a0908;
  --border: rgba(36, 36, 36, 0.5);
  --contrast: #0a0908;
  #green {
    --radio-color: #41e78c;
  }
  #default {
    --radio-color: #78ccfd;
  }
  #midnight {
    --radio-color: #fd78eb;
  }
}

:root:has(#midnight:checked) {
  --background: #231942;
  --backgradiant: linear-gradient(
    138deg,
    rgba(35, 25, 66, 1) 0%,
    #5a189a 35%,
    rgba(130, 48, 200, 1) 60%,
    rgba(35, 25, 66, 1) 100%
  );
  --sec: #5a189a;
  --main: #f8f4ff;
  --border: rgba(224, 177, 203, 0.5);
  --contrast: #ffd7ed;
  #default {
    --radio-color: #78ccfd;
  }
  #midnight {
    --radio-color: #fd78eb;
  }
  #green {
    --radio-color: #41e78c;
  }
}

main {
  flex-grow: 1;
  position: relative;
}

article {
  position: absolute;
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  & > section {
    height: 100%;
  }
  & > .text,
  & > .controls {
    border-left: 1px solid var(--border);
  }
  & > .header,
  & > .controls {
    border-top: 1px solid var(--border);
  }
  & > .picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  & > .text {
    font-size: 110%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    line-height: 2rem;
    & > p {
      padding: 2.5rem;
    }
    & > a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      height: 6rem;
      font-size: 130%;
      overflow: hidden;
      text-decoration: none;
      color: var(--main);
      position: relative;
      z-index: 1;
      border-top: 1px solid var(--border);
      transition: ease-in-out 0.5s;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -100%;
        left: 0;
        background-color: var(--main);
        z-index: -1;
        transition: ease-in-out 0.3s;
      }
      &:hover {
        color: var(--background);
      }
      &:hover::before {
        bottom: 0;
      }
    }
  }
  & > .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5rem;
    font-size: 300%;
  }
  & > .controls {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    & > div {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-out 0.3s;
      &:nth-child(1) {
        border-right: solid 1px var(--border);
      }
    }
  }
  top: 0;
  left: 0;
  overflow: hidden;
  &[data-status="selected"] {
    transform: translateX(0);
    transition: cubic-bezier(1, -0.23, 0.1, 1.25) 1.3s;
  }
  &[data-status="left"] {
    transform: translateX(-100%);
  }
  &[data-status="right"] {
    transform: translateX(100%);
  }
  &[data-status="left-out"] {
    transform: translateX(-100%);
    transition: cubic-bezier(1, -0.23, 0.1, 1.25) 1.3s;
  }
  &[data-status="right-out"] {
    transform: translateX(100%);
    transition: cubic-bezier(1, -0.23, 0.1, 1.25) 1.3s;
  }
}
#slide0img {
  background-image: url("/src/i.jpg");
}
#slide1img {
  background-image: url("/src/i1.jpg");
}
#slide2img {
  background-image: url("/src/i2.jpg");
}
#slide3img {
  background-image: url("/src/i3.jpg");
}

@media screen and (max-width: 1300px) {
  #theme-container {
    gap: 0.25rem;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 1050px) {
  :root {
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  :root {
    font-size: 15px;
  }
  #social-container,
  #contact-container,
  #theme-container {
    display: none;
  }
  #logo-container {
    justify-content: space-between;
    & > a {
      display: block;
    }
  }
  .buttons {
    position: absolute;
    width: 6rem;
    height: 10rem;
    top: calc(50vw - 3rem);
    z-index: 3;
  }
  #btn-left {
    left: 0;
    border: 0;
  }
  #btn-right {
    right: 0;
  }
  .controls {
    height: 0;
    width: 0;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  .text {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 10px;
  }
  #social-container,
  #contact-container,
  #theme-container {
    display: none;
  }
  #logo-container {
    justify-content: space-between;
    & > a {
      display: block;
    }
  }
  .buttons {
    position: absolute;
    width: 6rem;
    height: 10rem;
    top: calc(50vw - 3rem);
    z-index: 3;
  }
  #btn-left {
    left: 0;
    border: 0;
  }
  #btn-right {
    right: 0;
  }
  .controls {
    height: 0;
    width: 0;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  .text {
    flex-direction: row;
  }
}
