* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #061826;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  text-decoration: none;
}

nav {
  background-color: white;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

nav:hover {
  width: 25rem;
}

nav:hover > a > h3 {
  display: block;
  font-size: 150%;
}

nav > a {
  width: 100%;
  height: 4rem;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 3s ease-in;
  transition: 3s ease-in;
}

nav > a:hover > * {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  position: relative;
  top: 1px;
}

nav > a > h3 {
  display: none;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  font-size: xx-small;
  font-family: "Roboto Serif", sans-serif;
  color: #061826;
  padding-left: 1rem;
}

nav > a > img {
  height: 3rem;
  width: 3rem;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  top: 0.2rem;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  gap: 8rem;
  padding: 2rem 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > div {
  width: 90%;
}

#header {
  color: white;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header > h1 {
  font-family: "Roboto Serif", sans-serif;
  font-weight: 300;
  font-size: 500%;
  padding: 1rem 0;
}

#header > h2 {
  padding: 1rem 0;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 200;
  font-size: 300%;
}

#header > h2 > span {
  font-size: 150%;
  font-family: "Sacramento", cursive;
  text-shadow: 0 0 0.1rem #4ecfd3;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  color: #4ecfd3;
}

#header > h2 > span::after {
  content: "";
  width: 25px;
  height: 5px;
}

#header > h2 > span:hover {
  text-shadow: 0 0 1rem #4ecfd3;
}

#header > h3 {
  padding: 1rem 0;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 200;
  font-size: 150%;
}

#p-info {
  color: white;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: linear-gradient(300deg, rgba(0, 0, 0, 0) 30%, rgba(78, 207, 211, 0.1) 60%, rgba(78, 207, 211, 0.3) 100%);
  gap: 1rem;
  z-index: 5;
}

#p-info > img {
  height: 40rem;
  -webkit-box-shadow: #4ecfd3 0 0 1rem;
          box-shadow: #4ecfd3 0 0 1rem;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  z-index: -1;
}

#p-info > img:hover {
  -webkit-transform: scale(102%);
          transform: scale(102%);
  -webkit-box-shadow: #4ecfd3 0 0 1.5rem;
          box-shadow: #4ecfd3 0 0 1.5rem;
}

#p-info > div {
  padding: 2rem 1rem;
}

#p-info > div > h1 {
  font-size: 350%;
  font-family: "Roboto Serif", sans-serif;
  font-weight: 200;
}

#p-info > div > p {
  padding-left: 1rem;
  font-size: 200%;
  font-family: "Cairo", sans-serif;
}

#quali {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  color: white;
  font-family: "Roboto Serif", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#quali > h1 {
  font-size: 300%;
  padding: 1.5rem;
  padding-bottom: 2rem;
}

#quali > #Q-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  width: 100%;
  font-size: 150%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 10rem;
}

#quali > #Q-container > div {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(78, 207, 211, 0.1)), to(rgba(78, 207, 211, 0.3)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 30%, rgba(78, 207, 211, 0.1) 60%, rgba(78, 207, 211, 0.3) 100%);
  padding: 1rem 2rem;
}

#quali > #Q-container > div > h2 {
  padding-top: 0.2rem;
}

#quali > #Q-container > div > ul {
  list-style: georgian;
  padding-left: 5rem;
}

#quali > #Q-container > div > ul > li {
  padding: 0.5rem 0;
}

#quali > #tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  width: 100%;
}

#quali > #tech > div {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  gap: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#quali > #tech > div > img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  height: 10rem;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

#quali > #tech > div > img:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

#quali > #tech > div > #jsimg {
  -webkit-filter: saturate(0) brightness(65%);
          filter: saturate(0) brightness(65%);
}

#quali > #tech > div > #jsimg:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

#quali > #tech > div > #aspx {
  -webkit-filter: saturate(0) brightness(80%);
          filter: saturate(0) brightness(80%);
}

#quali > #tech > div > #aspx:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}

#quali > #tech > div > #sql {
  -webkit-filter: saturate(0) brightness(120%);
          filter: saturate(0) brightness(120%);
}

#quali > #tech > div > #sql:hover {
  -webkit-filter: saturate(1) brightness(120%);
          filter: saturate(1) brightness(120%);
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  color: white;
  font-family: "Roboto Serif", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects > h1 {
  font-size: 300%;
  padding: 1.5rem;
  padding-bottom: 2rem;
}

#projects > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects > div > div {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects > div > div > * {
  padding: 1rem 0;
}

#projects > div > div > h2 {
  font-size: 200%;
}

#projects > div > div > img {
  width: 25rem;
  padding: 2rem 2rem;
  border-radius: 1rem;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  cursor: pointer;
}

#projects > div > div > img:hover {
  -webkit-transform: scale(103%);
          transform: scale(103%);
}

#projects > div > div > p {
  text-align: center;
  font-size: 150%;
  font-family: "Cairo", sans-serif;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  color: white;
  font-family: "Roboto Serif", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact > h1 {
  font-size: 300%;
  padding: 1.5rem;
  padding-bottom: 2rem;
}

#contact > p {
  font-size: 200%;
  font-family: "Cairo", sans-serif;
}

#contact > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  padding: 1rem;
  padding-top: 5rem;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#contact > div > a {
  font-size: 120%;
  color: grey;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact > div > a > h3 {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#contact > div > a > img {
  margin-top: 1rem;
  height: 6rem;
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#contact > div > a:hover > img {
  -webkit-filter: saturate(1);
          filter: saturate(1);
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

#contact > div > a:hover > h3 {
  text-shadow: 0 0 0.5rem #4ecfd3;
  color: #4ecfd3;
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

@media only screen and (max-width: 1920px) {
  /* For small widescreens: */
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1280px) {
  /* For smaller widescreens: */
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1080px) {
  /* For tablets: */
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  html {
    font-size: 8px;
  }
  nav {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
    position: absolute;
  }
  nav:hover {
    width: 100%;
  }
  nav:hover > a > h3 {
    display: none;
  }
  #p-info {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact > div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=index.css.map */