$main-color: #4ECFD3;
$dark-color: #061826;
$light-color: #8cecf0;
$main-half: rgba(78,207,211,0.3);
$main-less: rgba(78,207,211,0.1);

*
{
    padding: 0;
    margin: 0;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background-color: $dark-color;
    display: flex;
}
a
{
    text-decoration: none;
}
nav
{
    background-color: white;
    width: 5rem;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: .3s ease-out;
    &:hover
    {
        width: 25rem;
        &>a>h3
        {
            display: block;
            font-size: 150%;
        }
    }
    &>a
    {
        width: 100%;
        height: 4rem;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 3s ease-in;
        &:hover>*
        {
            transform: scale(105%);
            position: relative;
            top: 1px;
        }
        &>h3
        {
            display: none;
            transition: .3s ease-out;
            font-size: xx-small;
            font-family: 'Roboto Serif', sans-serif;
            color: $dark-color;
            padding-left: 1rem;
        }
        &>img
        {
            height: 3rem;
            width: 3rem;
            transition: .3s ease-out;
            top: 0.2rem;
        }
    }
}

article
{
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    padding: 2rem 4rem;
    align-items: center;
    margin: auto;
    max-width: 80%;
    justify-content: center;
    &>div
    {
        width: 90%;
    }
}

#header
{
    color: white;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>h1
    {
        font-family: 'Roboto Serif', sans-serif;
        font-weight: 300;
        font-size: 500%;
        padding: 1rem 0;
    }
    &>h2
    {
        padding: 1rem 0;
        font-family: 'Roboto Serif', sans-serif;
        font-weight: 200;
        font-size: 300%;
        &>span
        {
            font-size: 150%;
            font-family: 'Sacramento', cursive;
            text-shadow: 0 0 .1rem $main-color;
            transition: .5s ease-in;
            color: $main-color;
            &::after
            {
                content: '';
                width: 25px;
                height: 5px;
            }
            &:hover
            {
                text-shadow: 0 0 1rem $main-color;
            }
        }
    }
    &>h3
    {
        padding: 1rem 0;
        font-family: 'Roboto Serif', sans-serif;
        font-weight: 200;
        font-size: 150%;
    }
}

#p-info
{
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(300deg, rgba(0,0,0,0) 30%, $main-less 60%, $main-half 100%);
    gap: 1rem;
    z-index: 5;
    &>img
    {
        height: 40rem;
        box-shadow: $main-color 0 0 1rem;
        border-radius: 3px;
        cursor: pointer;
        transition: 0.3s ease-out;
        z-index: -1;
        &:hover
        {
            transform: scale(102%);
            box-shadow: $main-color 0 0 1.5rem;
        }
    }
    &>div
    {
        padding: 2rem 1rem;
        &>h1
        {
            font-size: 350%;
            font-family: 'Roboto Serif', sans-serif;
            font-weight: 200;
        }
        &>p
        {
            padding-left: 1rem;
            font-size: 200%;
            font-family: 'Cairo', sans-serif;
        }
    }
}

#quali
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    justify-content: center;
    align-items: center;
    &>h1
    {
        font-size: 300%;
        padding: 1.5rem;
        padding-bottom: 2rem;
    }
    &>#Q-container
    {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        font-size: 150%;
        justify-content: space-around;
        flex-grow: 1;
        margin-bottom: 10rem;
        &>div
        {
            background: linear-gradient(0deg, rgba(0,0,0,0) 30%, $main-less 60%, $main-half 100%);
            padding: 1rem 2rem;
            &>h2
            {
                padding-top: .2rem;
            }
            &>ul
            {
                list-style: georgian;
                padding-left: 5rem;
                &>li
                {
                    padding: .5rem 0;
                }
            }
        }
    }
    &>#tech
    {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        width: 100%;
        &>div
        {
            padding-top: 2rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: 50%;
            gap: 5rem;
            justify-content: space-between;
            &>img
            {
                filter: saturate(0);
                height: 10rem;
                transition: .3s ease-out;
                cursor: pointer;
                &:hover
                {
                    transform: scale(105%);
                    filter: saturate(1);
                }
            }
            &>#jsimg
            {
                filter: saturate(0) brightness(65%);
                &:hover
                {
                    filter: saturate(1);
                }
            }
            &>#aspx
            {
                filter: saturate(0) brightness(80%);
                &:hover
                {
                    filter: saturate(1);
                }
            }
            &>#sql
            {
                filter: saturate(0) brightness(120%);
                &:hover
                {
                    filter: saturate(1) brightness(120%);
                }
            }
        }
    }
}

#projects
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    justify-content: center;
    align-items: center;
    &>h1
    {
        font-size: 300%;
        padding: 1.5rem;
        padding-bottom: 2rem;
    }
    &>div
    {
        display: flex;
        width: 100%;
        gap: 5rem;
        justify-content: space-around;
        &>div
        {
            width: 30rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            &>*
            {
                padding: 1rem 0;
            }
            &>h2
            {
                font-size: 200%;
            }
            &>img
            {
                width: 25rem;
                padding: 2rem 2rem;
                border-radius: 1rem;
                transition: .5s ease-out;
                cursor: pointer;
                &:hover
                {
                    transform: scale(103%);
                }
            }
            &>p
            {
                text-align: center;
                font-size: 150%;
                font-family: 'Cairo', sans-serif;
            }
        }
    }
}

#contact
{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    font-family: 'Roboto Serif', sans-serif;
    justify-content: center;
    align-items: center;
    &>h1
    {
        font-size: 300%;
        padding: 1.5rem;
        padding-bottom: 2rem;
    }
    &>p
    {
        font-size: 200%;
        font-family: 'Cairo', sans-serif;
    }
    &>div
    {
        display: flex;
        gap: 3rem;
        padding: 1rem;
        padding-top: 5rem;
        width: 100%;
        justify-content: space-between;
        &>a
        {
            font-size: 120%;
            color: grey;
            height: 10rem;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            &>h3
            {
                transition: .5s ease-out;
            }
            &>img
            {
                margin-top: 1rem;
                height: 10rem;
                filter: saturate(0);
                transition: .5s ease-out;
              
            }
            &:hover>img
            {
                filter: saturate(1);
                transform: scale(105%);
            }
            &:hover>h3
            {
                text-shadow: 0 0 .5rem $main-color;
                color: $main-color;
                transform: scale(105%);
            }
        }
    }
}