$dark-color: #ffffff;
$white: #000000;

body {
    background-color: $dark-color;
    display: flex;
}

nav {
    background-color: #000000;
    & > a {
      & > h3 {
        color: $dark-color;
      }
    }
}
  
  
#header {
    color: $white;
}
  
#p-info {
    color: $white;
}
  
#quali {
    color: $white;
}
  
#projects {
    color: $white;
}

#brush, #moon, #darkid, #darkcv, #darkproject, #darkcontact
{
    display: none;
}

#darkbrush, #lightid, #lightcv, #lightproject, #lightcontact, #fullmoon
{
  display: block;
}

#projects>div>div{
    background: linear-gradient(
      0deg,
      #00000050,
    );
  }

::-webkit-scrollbar{
    background-color: $dark-color;
}